html,
body {
    margin: 0;
    color: #333;
    background: #eee;
    font-family: sans-serif;
}

body {
    padding: 20px;
    margin: 0;
}

.home {
    background-color: #2d3436;
    color: white;
}

.hamburger-menu {
    width: 50px;
    height: 50px;
}

#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mattfewer {
    webkit-transform: rotate(-90deg);
      -webkit-transform-origin: 0 0;
      position:relative;
      top:100%;
      max-width: 500px;
}
